<% include ../partials/header %>

  <div class='row'>
    <h1 style='text-align: center'>Edit <%= report.name %> </h1>
    <div style='width: 40%; margin: 35px auto;'>
      <form action="/reports/<%=report._id %>/?_method=PUT" method="POST">
        <div class='form-group'>
          <label for='name'>Name</label>
          <input class='form-control' type="text" name="name" id='name' value="<%= report.name %>">
        </div>
        <div class='form-group'>
          <label for='image'>Image url</label>
          <input class='form-control' type="text" name="image" id='image' value="<%= report.image %>">
        </div>
        <div class='form-group'>
          <label for='location'>Location</label>
          <input class='form-control' type="text" name="location" id='location' value="<%= report.location %>">
        </div>
        <fieldset class="form-group">
          <legend>Severity of Incident</legend>
          <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="severity" id="severity-low" value="1" 
            <% if(report.severity == 1){ %>
              checked
            <% } %> >
            Low
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="severity" id="severity-moderate" value="2"
            <% if(report.severity == 2){ %>
              checked
            <% } %> >
            Moderate
          </label>
          </div>
        <div class="form-check">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" name="severity" id="severity-critical" value="3"
          <% if(report.severity == 3){ %>
              checked
            <% } %> >
          Critical
          </label>
        </div>
        </fieldset>
        <div class='form-group'>
          <label for='height'>Height</label>
          <input class='form-control' type="text" name="height" id='height' value="<%= report.height %>">
        </div>
        <div class='form-group'>
          <label for='weight'>Weight</label>
          <input class='form-control' type="text" name="weight" id='weight' value="<%= report.weight %>">
        </div>
        <div class='form-group'>
          <label for='age'>Age</label>
          <input class='form-control' type="text" name="age" id='age' value="<%= report.age %>">
        </div>
        <div class='form-group'>
          <label for='sex'>Sex</label>
          <input class='form-control' type="text" name="sex" id='sex' value="<%= report.sex %>">
        </div>
        <div class='form-group'>
          <label for='race'>Skin Color</label>
          <input class='form-control' type="text" name="race" id='race' value="<%= report.race %>">
        </div>
        <hr>
         <div class='form-group'>
         <label for='description'>Description</label>
         <textarea class='form-control' rows='5' name="description" id='description'><%= report.description %>
         </textarea>
        </div>
        
        <div class='form-group'>
          <button class='btn btn-lg btn-primary btn-block'>Submit</button>
        </div>
      </form>
      <a href="/reports">Back</a>
    </div>
  </div>

<% include ../partials/footer %>
