<% include ../partials/header %>

<div class='container'>
  <div class='row'>
    <h1 style='text-align: center'>Edit <%= reports.name %> </h1>
    <div style='width: 40%; margin: 35px auto;'>
      <form action="/reports/<%=reports._id %>/?_method=PUT" method="POST">
        <div class='form-group'>
          <input class='form-control' type="text" name="report[name]" value="<%= reports.name %>">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[image]" value="<%= reports.image %>"">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[height]" value="<%= reports.height %>">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[weight]" value="<%= reports.weight %>">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[age]" value="<%= reports.age %>">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[sex]" value="<%= reports.sex %>">
        </div>
        <div class='form-group'>
          <input class='form-control' type="text" name="report[race]" value="<%= reports.race %>">
        </div>
        <hr>
         <div class='form-group'>
         <textarea class='form-control' rows='5' name="report[description]" value="<%= reports.description %>"></textarea>
        </div>
        
        <div class='form-group'>
          <button class='btn btn-lg btn-primary btn-block'>Submit</button>
        </div>
      </form>
      <a href="/reports">Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
