<% include ../partials/header %>
<div class='container'>
  <div class='row'>
    <div class ='col-md-3'>
      <p class='lead'>INC/REP</p>
      <div class='list-group'>
        <li class='list-group-item active'>Info 1</li>
        <li class='list-group-item'>Info 2</li>
        <li class='list-group-item'>Info 3</li>
      </div>
    </div>
    <div class='col-md-9'>
      <div class='thumbnail'>
        <img class='image-responsive' src=' <%= report.image %>' >
         <div class='caption-full'>
          <h6 class='pull-right'><%= report.date %></h6>
          <h4><a> <%= report.name %> </a></h4>
          <p><%= `${report.height}, ${report.weight}, ${report.age}, ${report.sex}, ${report.race}`%></p>
          <p> <%= report.description %> </p>
            <em>Submited By: <%= report.author.username %> <em> 
          </p>
          <% if(currentUser && report.author.id.equals(currentUser._id)){ %>
            <a class ='btn btn-warning' href='/reports/<%= report._id %>/edit'>Edit</a>
            <form class='delete-form' action='/reports/<%= report._id%>?_method=DELETE' method='POST'>
              <button class='btn btn-danger'>Delete</button>
            </form>
          <% }%>
         </div>
      </div>
      <div class='well'>
        <div class='text-right'>
          <a class='btn btn-success' href='/reports/<%= report._id%>/comments/new'>Add New Comment</a>
        </div>
        <hr>
          <% report.comments.forEach((comment) => { %>
            <div class='row'>
              <div class='col-md-12'>
                <strong><%= comment.author.username %></strong>
                <span class='pull-right'><%= comment.date %></span>
                <p>
                  <%= comment.text %>
                </p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class='btn btn-xs btn-warning' href='/reports/<%=report._id%>/comments/<%=comment._id%>/edit'>Edit</a>
                <form class='delete-form' action="/reports/<%=report._id%>/comments/<%=comment._id%>?_method=DELETE" method='POST'>
                  <input type='submit' class='btn btn-xs btn-danger' value='Delete'>
                </form>
            <% } %>
              </div>
            </div>
          <% }) %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>